<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMK YAPPIKA SERPONG</title>
    <link
      rel="stylesheet"
      href="assets/library/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="assets/library/bootstrap/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="assets/library/OwlCarousel/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/library/OwlCarousel/dist/assets/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="assets/styles/style.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="assets/images/logo-smk-yappika-serpong.png"
            alt=""
            srcset=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Profil Sekolah
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Visi dan Misi</a>
                </li>
                <li><a class="dropdown-item" href="#">Gallery Foto</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Jadwal Pembelajaran
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Kelas 10</a></li>
                <li><a class="dropdown-item" href="#">Kelas 11</a></li>
                <li><a class="dropdown-item" href="#">Kelas 12</a></li>
                <li><a class="dropdown-item" href="#">Jadwal Praktek</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navigation bar -->

    <!-- Stories -->
    <section id="stories">
      <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="lead-bold mb-4">SEJARAH SMK YAPPIKA SERPONG</p>
            <p class="lead-paragraph">
              YAPPIKA “Yayasan Pendidikan Putra Putri Kita” merupakan lembaga
              sekolah swasta yang berdiri cukup lama ikut ambil dalam bagian
              upaya mencerdaskan kehidupan bangsa, melalui usaha-usaha dan
              sekolah yang diselenggarakan sejak tahun 2002 sampai dengan saat
              ini. Pada tahun 2002 di Tangerang didirikan Yayasan baru bernama
              YAPPIKA (Yayasan Pendidikan Putra Putri Kita), SMK pertama yaitu
              SMK YAPPIKA Legok yang terletak di Kabupaten Tangerang Kecamatan
              Legok pada tahun 2002. SMK kedua yaitu SMK YAPPIKA Serpong yang
              terletak di Kota Tangerang Selatan pada tahun 2018. SMK YAPPIKA
              SERPONG yang didirikan dan dibuka sejak Tahun 2018 dibawah lembaga
              Yayasan Pendidikan Putra Putri Kita (YAPPIKA) dan telah memperoleh
              ijin operasional dari dinas Pendidikan Provinsi Banten pada tahun
              2021 dan memiliki tiga program keahlian yaitu Multimedia,
              Akomodasi Perhotelan dan TBSM (Teknik dan Bisnis Sepeda Motor).
              Tujuan didirikan SMK YAPPIKA Serpong adalah untuk mencetak
              siswa/siswi yang mempunyai kompetensi keahlian sesuai dibidangnya
              dan siap akan dunia kerja.
            </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="text-center">
              <img
                src="assets/images/smk-yappika-serpong.png"
                alt="smk-yappika-serpong"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Stories -->

    <!-- Visi and misi -->
    <section id="visi">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="lead-bold text-center mb-4">VISI SEKOLAH</p>
            <div class="card text-center p-4">
              <p class="lead-regular my-auto">
                “Sebagai pusat pendidikan dan pelatihan yang menghasilkan tenaga
                pendidikan kerja terampil dan handal serta sanggup bersaing di
                era global”
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <p class="lead-bold text-center mb-4">MISI SEKOLAH</p>
            <div class="card p-4">
              <ul class="lead-regular my-auto">
                <li>
                  Menanamkan keimanan dan ketaqwaan kepada tuhan yang maha esa.
                </li>
                <li>
                  Menyelenggarakan pendidikan yang efektif, efisien dan
                  berkualitas.
                </li>
                <li>
                  Menghasilkan tenaga kerja dibidang profesional bidang
                  teknologi untuk memenuhi tuntutan dunia usaha dan industri
                  (DUDI).
                </li>
                <li>
                  Membekali peserta didik dengan kemapuan untuk dapat
                  mengembangkan diri.
                </li>
                <li>
                  Memberikan layanan prima dibidang pendidikan teknologi
                  berbasis teknologi informasi dan komunikasi (TIK).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Visi and misi -->

    <footer>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="row mb-4">
              <div class="col-sm-12 col-md-12 col-lg-6">
                <ul class="social-media">
                  <li>
                    <a href="#">
                      <img
                        src="assets/images/icons/ico-instagram.png"
                        class="me-3"
                        alt="intagram-smk-yappika-serpong"
                      />
                      smkyappikaserpong_official</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="assets/images/icons/ico-email.png"
                        class="me-3"
                        alt="email-smk-yappika-serpong"
                      />
                      smkyappikaserpong@gmail.com</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="assets/images/icons/ico-youtube.png"
                        class="me-3"
                        alt="youtube-smk-yappika-serpong"
                      />
                      smkyappikaserpong</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                <ul class="social-media">
                  <li>
                    <a href="#"
                      ><img
                        src="assets/images/icons/ico-phone.png"
                        class="me-3"
                        alt="telepon-smk-yappika-serpong"
                      />
                      021-531699216</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="location">
                  <li>
                    <img
                      src="assets/images/icons/ico-lokasi.png"
                      class="me-3"
                      alt="lokasi-smk-yappika-serping"
                    />
                    Jl. Astek Lengkong Gudang Rt. 003/009 Kec. Serpong Kota
                    Tangerang Selatan - Banten
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="img-footer">
              <div>
                <img
                  src="assets/images/logo-footer.png"
                  alt="smk-yappika-serpong"
                />
              </div>
              <div class="ms-5">
                <p class="lead-footer">KOMPETENSI KEAHLIAN</p>
                <ul class="lead-footer">
                  <li>Multimedia</li>
                  <li>Akomodasi Perhotelan</li>
                  <li>Teknik dan Bisnis Sepeda Motor</li>
                </ul>
                <p class="lead-footer">NIPSN : 70007469</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <section style="background-color: #000">
      <div class="container">
        <div class="row">
          <div
            style="display: flex; justify-content: space-between"
            class="py-3"
          >
            <p class="lead-copy">@2022 SMK YAPPIKA SERPONG</p>
            <p class="lead-copy">
              <a href="https://dapo.kemdikbud.go.id" class="lead-copy"
                >dapo.kemdikbud.go.id</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <script src="assets/library/jquery/jquery-3.6.3.min.js"></script>
    <script src="assets/library/OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src="assets/library/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
